/* Header */
.navbar-brand {
    color: #ffffff;
    text-align: center;
    width:100%;
    font-size: 36px;
    font-weight: 500;
}

/* Row 1 */
.row-1{
    height:75vh;

}
/* Side Bar */
.popcity{
    text-align: center;
}
.wrapper {
    position: relative;
    display: flex;
    top: 10vh;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

/* Today's Weather */

#todayWeather{
    position: relative;
    display: none;
    left:20%;
    top: 20%;
}


.weather {
    width: 77%;
}



@media(max-width:767px) {
    .weather {
        width: 100%
    }
}

.center{
    margin-left: 50%;
    margin-right: 50%;
}



