/* Header */
.navbar-brand {
    color: #ffffff;
    text-align: center;
    width:100%;
    font-size: 36px;
    font-weight: 500;
}

/* Row 1 */
.row-1{

    position: relative;
    height:auto;
    top: 5vh;

};

/* Side Bar */
.popcity{
    text-align: center;
}

.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
}



/* Today's Weather */

#todayWeather{
    position: relative;
    display: none;
    left:20%;
    top: 20%;
}


.weather {
    width: 77%;
}



@media(max-width:767px) {
    .weather {
        width: 100%
    }
}

.center{
    margin-left: 50%;
    margin-right: 50%;
}


/* Five Weather */
.row-2{
    position: relative;
    height:auto;
    margin-top: 10vh;
}
